    .arcs {
	  stroke-width: 2px;
	  stroke: purple;
	  pointer-events: none;
	  fill: none;}

  circle{
    fill: YellowGreen ;

  }

  body{
    /*background-color: rgb(64,74,89);*/
    background-color: #003249 ;
  }
  div.tooltip {
 	position: absolute;
	text-align: center;
	width: auto;
	height: 30;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
  opacity: 0.9;
}
div.table {
    border-collapse: collapse;
}
table,th,td{
  border: 1px solid white;
  border-style: none;
  color: white;
  text-align: center;
}

th {
    background-color: #23385e;
    color: white;
}
div#title{
  background-color: #003249;
  height: 15px;

}
h2,h3{
  color: white;
  text-align: center;

}
div#card{
  background-color: tomato;
}
div.panel{
  height: 50px;
}
