    .arcs {
	  stroke-width: 2px;
	  stroke: orange;
	  pointer-events: none;
	  fill: none;}

  circle{
    fill: Chartreuse ;

  }
  text{
    font-size: 18px;
    text-align: center;
    fill: white;
    font-weight: bold;
  }
  body{
    background-color: rgb(64,74,89);
    /*background-color: black;*/
  }
  div.tooltip {
 	position: absolute;
	text-align: center;
	width: auto;
	height: auto;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}
table {
    border-collapse: collapse;
}
table,th,td{
  border: 1px solid white;
  color: white;
  text-align: center;
}
/*tr:nth-child(even){
  background-color: #4CAF50}*/

th {
    background-color: #23385e;
    color: white;
}
